/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
/start.sh
./creator.log

# ignore all company specific migrations
/database/migrations/**
!/database/migrations/base/
!/database/migrations/micropowermanager/
