// primary colors
$brand-primary-dark: #174569;
$brand-primary: #1b75ba;
$brand-primary-light: #28aae1;
$brand-primary-lighter: #77d9f7;

$brand-background: #f3f8fb;
$brand-white: #ffffff;

// accent colors
$brand-secondary-dark: #fa8d41;
$brand-secondary: #fab15b;
$brand-secondary-light: #fad087;

$brand-accent-dark: #628b45;
$brand-accent: #81a872;
$brand-accent-light: #c3e8b5;
