apiVersion: v1
kind: Secret
metadata:
  name: mpm-secrets
type: Opaque
stringData:
  APP_KEY: app-key
  MYSQL_ROOT_PASSWORD: mysql-root-password
  DB_PASSWORD: db-password
  TEST_DB_PASSWORD: test-db-password
  JWT_SECRET: jwt-secret
  MAIL_PASSWORD: mail-password
  MYSQL_HOST: mysql-host
