apiVersion: v1
kind: Secret
metadata:
  name: mpm-secrets
type: Opaque
stringData:
  APP_KEY: key
  MYSQL_ROOT_PASSWORD: password
  DB_PASSWORD: password
  JWT_SECRET: jwt-secret
  MPM_BACKEND_URL: BACKEND_URL
