apiVersion: v1
kind: Secret
metadata:
  name: mpm-secrets
type: Opaque
stringData:
  APP_KEY: app-key
  DB_PASSWORD: db-password
  JWT_SECRET: jwt-secret
  MPM_BACKEND_URL: BACKEND_URL
  DB_HOST: mysql-host
  DB_USERNAME: user-name

