APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:qq4VUCgym1gBAIH4GFWHeNNZFBiSpNM2IyLibtf6R1U=
APP_URL=https://demo.micropowermanager.io

DB_CONNECTION=micro_power_manager
DB_HOST=db
DB_PORT=3306
DB_DATABASE=micro_power_manager
DB_USERNAME=root
DB_PASSWORD=superSecurePassw0rd!

CACHE_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

SESSION_DRIVER=file
SESSION_LIFETIME=120

BROADCAST_DRIVER=pusher
PUSHER_APP_ID="PUSHER-APP-ID"
PUSHER_APP_KEY="PUSHER-KEY"
PUSHER_APP_SECRET="PUSHER-APP-SECRET"
PUSHER_APP_CLUSTER="YOUR-CLUSTER ex. eu"

QUEUE_DRIVER=database
QUEUE_PAYMENT="payment"
QUEUE_ENERGY="energy_payment"
QUEUE_TOKEN="token"
QUEUE_SMS="sms"
QUEUE_REPORT="report_generator"
QUEUE_MISC="misc"

JWT_SECRET="YOUR-JWT-SECRET"

LOG_CHANNEL=mpm_stack
LOG_LEVEL="info"
LOG_SLACK_WEBHOOK_URL="http://slackchannel.com"

MAIL_HOST="smtp.mailserver"
MAIL_PORT=587
MAIL_USERNAME="USERNAME"
MAIL_PASSWORD="PASSWORD"

SUNKING_API_URL="https://dev.assetcontrol.central.glp apps.com/v2"

WAVEMONEY_API_URL="hhttps://preprodpayments.wavemoney.io:8107"
