includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
#        - database
#        - packages
#        - public
#        - resources
#        - routes
#        - storage
#        - stubs
#        - tests

    # Level 9 is the highest level
    level: 6

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
