<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  backupGlobals="false"
  processIsolation="false"
  stopOnFailure="false"
  cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
      <directory suffix="Test.php">app/Plugins/PaystackPaymentProvider/Tests/Unit/</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="512M"/>
    <env name="APP_ENV" value="testing" force="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
  </source>
</phpunit>
