apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mpm-storage-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: gp2 # AWS EBS storage class
