apiVersion: apps/v1
kind: Deployment
metadata:
  name: mpm-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mpm-backend
  template:
    metadata:
      labels:
        app: mpm-backend
    spec:
      containers:
        - name: mpm-backend
          image: enaccess/micropowermanager-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: mpm-configmap-backend
            - secretRef:
                name: mpm-secret-backend
          volumeMounts:
            - name: storage-data
              mountPath: /var/www/html/storage
              subPath: ""
            - name: logs-data
              mountPath: /var/www/html/storage/logs
              subPath: logs
      volumes:
        - name: storage-data
          persistentVolumeClaim:
            claimName: mpm-storage-pvc
        - name: logs-data
          persistentVolumeClaim:
            claimName: mpm-logs-pvc
