apiVersion: v1
kind: Secret
metadata:
  name: mpm-secret-backend
type: Opaque
stringData:
  APP_KEY: app-key
  JWT_SECRET: jwt-secret
  DB_HOST: mysql-host
  DB_USERNAME: user-name
  DB_PASSWORD: db-password
  LOG_SLACK_WEBHOOK_URL: slack-webhook-url
  HORIZON_SLACK_WEBHOOK_URL: slack-webhook-url
  MPM_FRONTEND_URL: frontend-url 
---
apiVersion: v1
kind: Secret
metadata:
  name: mpm-secret-frontend
type: Opaque
stringData:
  MPM_BACKEND_URL: BACKEND_URL
