apiVersion: v1
kind: Secret
metadata:
  name: mpm-secret-backend
type: Opaque
stringData:
  APP_KEY: app-key
  JWT_SECRET: jwt-secret
  DB_HOST: mysql-host
  DB_USERNAME: user-name
  DB_PASSWORD: db-password
  MPM_FRONTEND_URL: FRONTEND_URL 
  LOG_SLACK_WEBHOOK_URL: slack-webhook-url
  HORIZON_SLACK_WEBHOOK_URL: slack-webhook-url
  # File Storage Configuration
  FILESYSTEM_DISK: gcs
  FILESYSTEM_CLOUD: gcs
  # Google Cloud Storage Configuration
  GOOGLE_CLOUD_PROJECT_ID: your-gcp-project-id
  GOOGLE_CLOUD_STORAGE_BUCKET: your-gcs-bucket-name
  GOOGLE_CLOUD_KEY_FILE: /path/to/service-account-key.json
  GOOGLE_CLOUD_STORAGE_API_URI: your-gcs-api-uri
  GOOGLE_CLOUD_STORAGE_API_ENDPOINT: your-gcs-api-endpoint
---
apiVersion: v1
kind: Secret
metadata:
  name: mpm-secret-frontend
type: Opaque
stringData:
  MPM_BACKEND_URL: BACKEND_URL
