apiVersion: v1
kind: Secret
metadata:
  name: mpm-secret-backend
type: Opaque
stringData:
  APP_KEY: app-key
  JWT_SECRET: jwt-secret
  DB_HOST: mysql-host
  DB_USERNAME: user-name
  DB_PASSWORD: db-password
  MPM_FRONTEND_URL: FRONTEND_URL 
  LOG_SLACK_WEBHOOK_URL: slack-webhook-url
  HORIZON_SLACK_WEBHOOK_URL: slack-webhook-url
  # File Storage Configuration
  FILESYSTEM_DISK: gcs
  FILESYSTEM_CLOUD: gcs
  # Google Cloud Storage Configuration
  GOOGLE_CLOUD_PROJECT_ID: your-gcp-project-id
  GOOGLE_CLOUD_STORAGE_BUCKET: your-gcs-bucket-name
  # Either use a key file from a service account or use the values directly
  GOOGLE_CLOUD_KEY_FILE: /path/to/service-account-key.json
  # Service Account Credentials (alternative to key_file_path)
  GOOGLE_CLOUD_ACCOUNT_TYPE: service_account
  GOOGLE_CLOUD_PRIVATE_KEY_ID: your-private-key-id
  GOOGLE_CLOUD_PRIVATE_KEY: '-----BEGIN PRIVATE KEY-----\nyour-private-key\n-----END PRIVATE KEY-----\n'
  GOOGLE_CLOUD_CLIENT_EMAIL: your-service-account@project-id.iam.gserviceaccount.com
  GOOGLE_CLOUD_CLIENT_ID: your-client-id
  GOOGLE_CLOUD_AUTH_URI: https://accounts.google.com/o/oauth2/auth
  GOOGLE_CLOUD_TOKEN_URI: https://oauth2.googleapis.com/token
  GOOGLE_CLOUD_AUTH_PROVIDER_CERT_URL: https://www.googleapis.com/oauth2/v1/certs
  GOOGLE_CLOUD_CLIENT_CERT_URL: your-client-cert-url
  GOOGLE_CLOUD_STORAGE_API_URI: your-gcs-api-uri
  GOOGLE_CLOUD_STORAGE_API_ENDPOINT: your-gcs-api-endpoint
---
apiVersion: v1
kind: Secret
metadata:
  name: mpm-secret-frontend
type: Opaque
stringData:
  MPM_BACKEND_URL: BACKEND_URL
