apiVersion: v1
data:
  mapRoles: |
    - groups:
      - system:bootstrappers
      - system:nodes
      rolearn: arn:aws:iam::<AWS_ACCOUNT_ID>:role/<EKS_NODE_INSTANCE_ROLENAME>
      username: system:node:{{EC2PrivateDNSName}}
  mapUsers: |
    - userarn: arn:aws:iam::<AWS_ACCOUNT_ID>:user/user1
      username: user1
      groups:
        - system:masters
    - userarn: arn:aws:iam::<AWS_ACCOUNT_ID>:user/user2
      username: user2
      groups:
        - system:masters
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
