venv
archive
.idea
epv.csv
inputs_dieselgenerator.csv
loada.csv
parameters.csv
price_electricity_optional.csv
sets.csv
__pycache__/

Data/epv.csv
Data/inputs_dieselgenerator.csv
Data/loada.csv
Data/parameters.csv
price_electricity_optional.csv
Data/sets.csv
.DS_Store