openapi: 3.0.3
info:
  title: "MicroPowerManager API docs"
  description: "\n![MPM Logo](https://micropowermanager.io/mpmlogo_raw.png)\n\n<p align=\"center\">\n    <em>Decentralized utility management made simple. Manage customers, revenues and assets with this all-in one open source platform.</em>\n</p>\n\n---\n\n# 💫 Overview\nThis documentation will provide all the information you need to work with our API.\n\nAs you scroll, you'll see code examples for working with the API in different programming languages in the dark area to the right (or as part of the content on mobile).\nYou can switch the language used with the tabs at the top right (or from the nav menu at the top left on mobile)."
  version: 1.0.0
servers:
  - url: "https://api.demo.micropowermanager.io"
paths:
  /api/app/agents/appliance_types:
    get:
      summary: "List for Android-APP."
      operationId: listForAndroidAPP
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Agent-Appliances
      security: []
  /api/app/login:
    post:
      summary: "Get JWT via given credentials."
      operationId: getJWTViaGivenCredentials
      description: ""
      parameters: []
      responses: {}
      tags:
        - Agent-Authenticator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ""
                  example: cary74@example.org
                  nullable: false
                password:
                  type: string
                  description: ""
                  example: "'9fEi,/=5Rsx;!?44Wx5"
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/app/logout:
    post:
      summary: "Log the user out (Invalidate the token)."
      operationId: logTheUserOutInvalidateTheToken
      description: ""
      parameters: []
      responses: {}
      tags:
        - Agent-Authenticator
      security: []
  /api/app/refresh:
    post:
      summary: "Refresh a token."
      operationId: refreshAToken
      description: "A valid JWT token has to be sent to refresh the token."
      parameters: []
      responses: {}
      tags:
        - Agent-Authenticator
      security: []
  /api/app/me:
    get:
      summary: "Get the authenticated User."
      operationId: getTheAuthenticatedUser
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Agent-Authenticator
      security: []
  /api/auth/login:
    post:
      summary: "JWT authentication."
      operationId: jWTAuthentication
      description: ""
      parameters: []
      responses: {}
      tags:
        - Authenticator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ""
                  example: stanford94@example.com
                  nullable: false
                password:
                  type: string
                  description: ""
                  example: sib!%Fc9q
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/auth/logout:
    post:
      summary: "Log the user out (Invalidate the token)."
      operationId: logTheUserOutInvalidateTheToken
      description: ""
      parameters: []
      responses: {}
      tags:
        - Authenticator
      security: []
  /api/auth/refresh:
    post:
      summary: "Refresh token\nGenerates a new valid token for the next 3600 seconds\nInorder to generate the new token, a working (Bearer)token has to be provided in the header."
      operationId: refreshTokenGeneratesANewValidTokenForTheNext3600SecondsInorderToGenerateTheNewTokenAWorkingBearertokenHasToBeProvidedInTheHeader
      description: ""
      parameters: []
      responses: {}
      tags:
        - Authenticator
      security: []
  /api/auth/me:
    get:
      summary: "Get the authenticated User."
      operationId: getTheAuthenticatedUser
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Authenticator
      security: []
  /api/cities:
    get:
      summary: ""
      operationId: getApiCities
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    post:
      summary: ""
      operationId: postApiCities
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ""
                  example: accusamus
                  nullable: false
                mini_grid_id:
                  type: string
                  description: ""
                  example: veniam
                  nullable: false
              required:
                - name
                - mini_grid_id
      security: []
  "/api/cities/{cityId}":
    get:
      summary: ""
      operationId: getApiCitiesCityId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    put:
      summary: ""
      operationId: putApiCitiesCityId
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ""
                  example: nam
                  nullable: false
                mini_grid_id:
                  type: string
                  description: ""
                  example: fugiat
                  nullable: false
              required:
                - name
                - mini_grid_id
      security: []
    parameters:
      - in: path
        name: cityId
        description: ""
        example: 1
        required: true
        schema:
          type: integer
  /api/countries:
    get:
      summary: ""
      operationId: getApiCountries
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    post:
      summary: ""
      operationId: postApiCountries
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country_name:
                  type: string
                  description: ""
                  example: ipsum
                  nullable: false
                country_code:
                  type: string
                  description: validation.min.
                  example: qnwthcoudbawuxcgptgpiqrzaygemobgxuuia
                  nullable: false
              required:
                - country_name
                - country_code
      security: []
  "/api/countries/{country_country_code}":
    get:
      summary: ""
      operationId: getApiCountriesCountry_country_code
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: country_country_code
        description: ""
        example: AF
        required: true
        schema:
          type: string
  /api/meters:
    get:
      summary: "List\nLists all used meters with meterType and meterParameters.tariff\nThe response is paginated with 15 results on each page/request."
      operationId: listListsAllUsedMetersWithMeterTypeAndMeterParameterstariffTheResponseIsPaginatedWith15ResultsOnEachPagerequest
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    - id: 1
                      serial_number: "12312123"
                      meter_type_id: 1
                      in_use: 1
                      manufacturer_id: 1
                      created_at: "2018-06-22 11:50:09"
                      updated_at: "2018-12-17 14:20:23"
                      deleted_at: null
                      meter_type:
                        id: 1
                        online: 0
                        phase: 1
                        max_current: 10
                        created_at: "2018-06-22 08:15:12"
                        updated_at: "2018-06-22 08:15:12"
                      meter_parameter:
                        id: 1
                        connection_type_id: 1
                        created_at: "2018-06-22 11:59:46"
                        updated_at: "2018-12-17 14:20:23"
                        connection_group_id: 1
                        tariff:
                          id: 1
                          name: "Productiove Usage"
                          price: 200
                          currency: EUR
                          factor: 1
                          created_at: "2018-07-27 15:32:42"
                          updated_at: "2018-07-27 15:32:42"
                          deleted_at: null
                  first_page_url: "http://localhost:8000/api/meters?page=1"
                  from: 1
                  last_page: 324
                  last_page_url: "http://localhost:8000/api/meters?page=324"
                  next_page_url: "http://localhost:8000/api/meters?page=2"
                  path: "http://localhost:8000/api/meters"
                  per_page: 15
                  prev_page_url: null
                  to: 15
                  total: 4852
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      - id: 1
                        serial_number: "12312123"
                        meter_type_id: 1
                        in_use: 1
                        manufacturer_id: 1
                        created_at: "2018-06-22 11:50:09"
                        updated_at: "2018-12-17 14:20:23"
                        deleted_at: null
                        meter_type:
                          id: 1
                          online: 0
                          phase: 1
                          max_current: 10
                          created_at: "2018-06-22 08:15:12"
                          updated_at: "2018-06-22 08:15:12"
                        meter_parameter:
                          id: 1
                          connection_type_id: 1
                          created_at: "2018-06-22 11:59:46"
                          updated_at: "2018-12-17 14:20:23"
                          connection_group_id: 1
                          tariff:
                            id: 1
                            name: "Productiove Usage"
                            price: 200
                            currency: EUR
                            factor: 1
                            created_at: "2018-07-27 15:32:42"
                            updated_at: "2018-07-27 15:32:42"
                            deleted_at: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        serial_number:
                          type: string
                          example: "12312123"
                        meter_type_id:
                          type: integer
                          example: 1
                        in_use:
                          type: integer
                          example: 1
                        manufacturer_id:
                          type: integer
                          example: 1
                        created_at:
                          type: string
                          example: "2018-06-22 11:50:09"
                        updated_at:
                          type: string
                          example: "2018-12-17 14:20:23"
                        deleted_at:
                          type: string
                          example: null
                        meter_type:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            online:
                              type: integer
                              example: 0
                            phase:
                              type: integer
                              example: 1
                            max_current:
                              type: integer
                              example: 10
                            created_at:
                              type: string
                              example: "2018-06-22 08:15:12"
                            updated_at:
                              type: string
                              example: "2018-06-22 08:15:12"
                        meter_parameter:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            connection_type_id:
                              type: integer
                              example: 1
                            created_at:
                              type: string
                              example: "2018-06-22 11:59:46"
                            updated_at:
                              type: string
                              example: "2018-12-17 14:20:23"
                            connection_group_id:
                              type: integer
                              example: 1
                            tariff:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                name:
                                  type: string
                                  example: "Productiove Usage"
                                price:
                                  type: integer
                                  example: 200
                                currency:
                                  type: string
                                  example: EUR
                                factor:
                                  type: integer
                                  example: 1
                                created_at:
                                  type: string
                                  example: "2018-07-27 15:32:42"
                                updated_at:
                                  type: string
                                  example: "2018-07-27 15:32:42"
                                deleted_at:
                                  type: string
                                  example: null
                  first_page_url:
                    type: string
                    example: "http://localhost:8000/api/meters?page=1"
                  from:
                    type: integer
                    example: 1
                  last_page:
                    type: integer
                    example: 324
                  last_page_url:
                    type: string
                    example: "http://localhost:8000/api/meters?page=324"
                  next_page_url:
                    type: string
                    example: "http://localhost:8000/api/meters?page=2"
                  path:
                    type: string
                    example: "http://localhost:8000/api/meters"
                  per_page:
                    type: integer
                    example: 15
                  prev_page_url:
                    type: string
                    example: null
                  to:
                    type: integer
                    example: 15
                  total:
                    type: integer
                    example: 4852
      tags:
        - Endpoints
      security: []
    post:
      summary: "Create\nStores a new meter."
      operationId: createStoresANewMeter
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serial_number:
                  type: string
                  description: ""
                  example: dolor
                  nullable: false
                manufacturer_id:
                  type: integer
                  description: ""
                  example: 7
                  nullable: false
                meter_type_id:
                  type: integer
                  description: ""
                  example: 5
                  nullable: false
              required:
                - serial_number
                - manufacturer_id
                - meter_type_id
      security: []
    put:
      summary: "Update\nUpdates the geo coordinates of the meter."
      operationId: updateUpdatesTheGeoCoordinatesOfTheMeter
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                points:
                  type: string.
                  description: "Comma seperated latitude and longitude. Example 1,2"
                  example: tenetur
                  nullable: false
      security: []
    parameters:
      - in: path
        name: page
        description: "Optional parameter."
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: 7
      - in: path
        name: in_use
        description: "Optional parameter. to list wether used or all meters"
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: 3
  /api/meters/connection-types:
    get:
      summary: ""
      operationId: getApiMetersConnectionTypes
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  "/api/meters/{meter_id}":
    put:
      summary: ""
      operationId: putApiMetersMeter_id
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  description: ""
                  example: 2772.6387376
                  nullable: false
                serial_number:
                  type: string
                  description: ""
                  example: laboriosam
                  nullable: false
                meter_type_id:
                  type: number
                  description: ""
                  example: 24574.1503414
                  nullable: false
                in_use:
                  type: number
                  description: ""
                  example: 8607.1
                  nullable: false
                manufacturer_id:
                  type: number
                  description: ""
                  example: 687571.2880135
                  nullable: false
                connection_type_id:
                  type: number
                  description: ""
                  example: 139397.5866
                  nullable: false
                connection_group_id:
                  type: number
                  description: ""
                  example: 61798785.268932
                  nullable: false
                tariff_id:
                  type: number
                  description: ""
                  example: 62.44
                  nullable: false
              required:
                - id
      security: []
    parameters:
      - in: path
        name: meter_id
        description: "The ID of the meter."
        example: 1
        required: true
        schema:
          type: integer
  /api/meters/search:
    get:
      summary: "Search\nThe search term will be searched in following fields\n- Tariff.name\n- Serial number."
      operationId: searchTheSearchTermWillBeSearchedInFollowingFieldsTariffnameSerialNumber
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    - id: 1
                      serial_number: "11213312"
                      meter_type_id: 1
                      in_use: 1
                      manufacturer_id: 1
                      created_at: "2018-06-22 11:50:09"
                      updated_at: "2018-12-17 14:20:23"
                      deleted_at: null
                      meter_type:
                        id: 1
                        online: 0
                        phase: 1
                        max_current: 10
                        created_at: "2018-06-22 08:15:12"
                        updated_at: "2018-06-22 08:15:12"
                      meter_parameter:
                        id: 1
                        connection_type_id: 1
                        created_at: "2018-06-22 11:59:46"
                        updated_at: "2018-12-17 14:20:23"
                        connection_group_id: 1
                        tariff:
                          id: 1
                          name: "Productive User"
                          price: 200
                          currency: EUR
                          factor: 1
                          created_at: "2018-07-27 15:32:42"
                          updated_at: "2018-07-27 15:32:42"
                          deleted_at: null
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      - id: 1
                        serial_number: "11213312"
                        meter_type_id: 1
                        in_use: 1
                        manufacturer_id: 1
                        created_at: "2018-06-22 11:50:09"
                        updated_at: "2018-12-17 14:20:23"
                        deleted_at: null
                        meter_type:
                          id: 1
                          online: 0
                          phase: 1
                          max_current: 10
                          created_at: "2018-06-22 08:15:12"
                          updated_at: "2018-06-22 08:15:12"
                        meter_parameter:
                          id: 1
                          connection_type_id: 1
                          created_at: "2018-06-22 11:59:46"
                          updated_at: "2018-12-17 14:20:23"
                          connection_group_id: 1
                          tariff:
                            id: 1
                            name: "Productive User"
                            price: 200
                            currency: EUR
                            factor: 1
                            created_at: "2018-07-27 15:32:42"
                            updated_at: "2018-07-27 15:32:42"
                            deleted_at: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        serial_number:
                          type: string
                          example: "11213312"
                        meter_type_id:
                          type: integer
                          example: 1
                        in_use:
                          type: integer
                          example: 1
                        manufacturer_id:
                          type: integer
                          example: 1
                        created_at:
                          type: string
                          example: "2018-06-22 11:50:09"
                        updated_at:
                          type: string
                          example: "2018-12-17 14:20:23"
                        deleted_at:
                          type: string
                          example: null
                        meter_type:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            online:
                              type: integer
                              example: 0
                            phase:
                              type: integer
                              example: 1
                            max_current:
                              type: integer
                              example: 10
                            created_at:
                              type: string
                              example: "2018-06-22 08:15:12"
                            updated_at:
                              type: string
                              example: "2018-06-22 08:15:12"
                        meter_parameter:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            connection_type_id:
                              type: integer
                              example: 1
                            created_at:
                              type: string
                              example: "2018-06-22 11:59:46"
                            updated_at:
                              type: string
                              example: "2018-12-17 14:20:23"
                            connection_group_id:
                              type: integer
                              example: 1
                            tariff:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                name:
                                  type: string
                                  example: "Productive User"
                                price:
                                  type: integer
                                  example: 200
                                currency:
                                  type: string
                                  example: EUR
                                factor:
                                  type: integer
                                  example: 1
                                created_at:
                                  type: string
                                  example: "2018-07-27 15:32:42"
                                updated_at:
                                  type: string
                                  example: "2018-07-27 15:32:42"
                                deleted_at:
                                  type: string
                                  example: null
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                term:
                  type: string
                  description: ""
                  example: in
                  nullable: false
              required:
                - term
      security: []
  "/api/meters/{serialNumber}":
    get:
      summary: "Detail\nDetailed meter with following relations\n- MeterParameter.tariff\n- MeterParameter.owner\n- Meter Type\n- MeterParameter.connectionType\n- MeterParameter.connectionGroup\n- Manufacturer."
      operationId: detailDetailedMeterWithFollowingRelationsMeterParametertariffMeterParameterownerMeterTypeMeterParameterconnectionTypeMeterParameterconnectionGroupManufacturer
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    serial_number: "123123123"
                    meter_type_id: 2
                    in_use: 1
                    manufacturer_id: 1
                    created_at: "2018-06-22 12:27:29"
                    updated_at: "2018-12-05 11:50:31"
                    deleted_at: null
                    meter_parameter:
                      id: 3
                      connection_type_id: 17
                      created_at: "2018-06-22 12:27:58"
                      updated_at: "2019-06-18 09:33:42"
                      connection_group_id: 19
                      tariff:
                        id: 4
                        name: "Productive Usage"
                        price: 350
                        currency: EUR
                        factor: 1
                        created_at: "2019-01-18 09:17:30"
                        updated_at: "2019-01-18 09:17:30"
                        deleted_at: null
                      owner:
                        id: 3
                        title: Mr
                        education: "-"
                        name: John
                        surname: Doe
                        birth_date: "1970-01-01"
                        sex: male
                        nationality: 215
                        created_at: "2018-06-22 12:27:00"
                        updated_at: "2020-03-23 10:49:49"
                        customer_group_id: null
                        is_customer: 1
                        deleted_at: null
                      connection_type:
                        id: 17
                        name: "House Hold"
                        connection_type_id: 1
                        tariff_id: 2
                        created_at: null
                        updated_at: null
                      connection_group:
                        id: 19
                        name: Mills
                        created_at: "2019-06-17 16:22:53"
                        updated_at: "2019-06-17 16:22:53"
                    meter_type:
                      id: 2
                      online: 0
                      phase: 3
                      max_current: 20
                      created_at: "2018-07-27 10:25:15"
                      updated_at: "2018-07-27 10:25:15"
                    manufacturer:
                      id: 1
                      name: "Calin Meters"
                      website: "http://www.calinmeter.com/"
                      contact_person: null
                      created_at: "2018-06-22 08:14:26"
                      updated_at: "2018-06-22 08:14:26"
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      serial_number:
                        type: string
                        example: "123123123"
                      meter_type_id:
                        type: integer
                        example: 2
                      in_use:
                        type: integer
                        example: 1
                      manufacturer_id:
                        type: integer
                        example: 1
                      created_at:
                        type: string
                        example: "2018-06-22 12:27:29"
                      updated_at:
                        type: string
                        example: "2018-12-05 11:50:31"
                      deleted_at:
                        type: string
                        example: null
                      meter_parameter:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          connection_type_id:
                            type: integer
                            example: 17
                          created_at:
                            type: string
                            example: "2018-06-22 12:27:58"
                          updated_at:
                            type: string
                            example: "2019-06-18 09:33:42"
                          connection_group_id:
                            type: integer
                            example: 19
                          tariff:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 4
                              name:
                                type: string
                                example: "Productive Usage"
                              price:
                                type: integer
                                example: 350
                              currency:
                                type: string
                                example: EUR
                              factor:
                                type: integer
                                example: 1
                              created_at:
                                type: string
                                example: "2019-01-18 09:17:30"
                              updated_at:
                                type: string
                                example: "2019-01-18 09:17:30"
                              deleted_at:
                                type: string
                                example: null
                          owner:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 3
                              title:
                                type: string
                                example: Mr
                              education:
                                type: string
                                example: "-"
                              name:
                                type: string
                                example: John
                              surname:
                                type: string
                                example: Doe
                              birth_date:
                                type: string
                                example: "1970-01-01"
                              sex:
                                type: string
                                example: male
                              nationality:
                                type: integer
                                example: 215
                              created_at:
                                type: string
                                example: "2018-06-22 12:27:00"
                              updated_at:
                                type: string
                                example: "2020-03-23 10:49:49"
                              customer_group_id:
                                type: string
                                example: null
                              is_customer:
                                type: integer
                                example: 1
                              deleted_at:
                                type: string
                                example: null
                          connection_type:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 17
                              name:
                                type: string
                                example: "House Hold"
                              connection_type_id:
                                type: integer
                                example: 1
                              tariff_id:
                                type: integer
                                example: 2
                              created_at:
                                type: string
                                example: null
                              updated_at:
                                type: string
                                example: null
                          connection_group:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 19
                              name:
                                type: string
                                example: Mills
                              created_at:
                                type: string
                                example: "2019-06-17 16:22:53"
                              updated_at:
                                type: string
                                example: "2019-06-17 16:22:53"
                      meter_type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          online:
                            type: integer
                            example: 0
                          phase:
                            type: integer
                            example: 3
                          max_current:
                            type: integer
                            example: 20
                          created_at:
                            type: string
                            example: "2018-07-27 10:25:15"
                          updated_at:
                            type: string
                            example: "2018-07-27 10:25:15"
                      manufacturer:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: "Calin Meters"
                          website:
                            type: string
                            example: "http://www.calinmeter.com/"
                          contact_person:
                            type: string
                            example: null
                          created_at:
                            type: string
                            example: "2018-06-22 08:14:26"
                          updated_at:
                            type: string
                            example: "2018-06-22 08:14:26"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: serialNumber
        description: "Optional parameter."
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: tempore
  "/api/meters/{meterId}":
    delete:
      summary: "Delete\nDeletes the meter with its all releations."
      operationId: deleteDeletesTheMeterWithItsAllReleations
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: meterId
        description: ""
        example: laborum
        required: true
        schema:
          type: string
      - in: path
        name: The
        description: "Optional parameter. ID of the meter to be delete"
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: cumque
  "/api/meters/{serialNumber}/transactions":
    get:
      summary: ""
      operationId: getApiMetersSerialNumberTransactions
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: serialNumber
        description: ""
        example: iure
        required: true
        schema:
          type: string
  "/api/meters/{serialNumber}/consumptions/{start}/{end}":
    get:
      summary: "Consumption List\nIf the meter has the ability to send data to your server. That is the endpoint where you get the\nmeter readings ( used energy, credit on meter etc.)."
      operationId: consumptionListIfTheMeterHasTheAbilityToSendDataToYourServerThatIsTheEndpointWhereYouGetThemeterReadingsUsedEnergyCreditOnMeterEtc
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: 7
                      meter_id: 165
                      total_consumption: 64.31
                      consumption: 64.31
                      credit_on_meter: 0.81
                      reading_date: "2018-10-03"
                      created_at: "2018-11-26 14:27:39"
                      updated_at: "2018-11-26 14:27:39"
                    - id: 13
                      meter_id: 165
                      total_consumption: 67.58
                      consumption: 3.27
                      credit_on_meter: 6.82
                      reading_date: "2018-10-04"
                      created_at: "2018-11-26 14:28:55"
                      updated_at: "2018-11-26 14:28:55"
                properties:
                  data:
                    type: array
                    example:
                      - id: 7
                        meter_id: 165
                        total_consumption: 64.31
                        consumption: 64.31
                        credit_on_meter: 0.81
                        reading_date: "2018-10-03"
                        created_at: "2018-11-26 14:27:39"
                        updated_at: "2018-11-26 14:27:39"
                      - id: 13
                        meter_id: 165
                        total_consumption: 67.58
                        consumption: 3.27
                        credit_on_meter: 6.82
                        reading_date: "2018-10-04"
                        created_at: "2018-11-26 14:28:55"
                        updated_at: "2018-11-26 14:28:55"
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 7
                        meter_id:
                          type: integer
                          example: 165
                        total_consumption:
                          type: number
                          example: 64.31
                        consumption:
                          type: number
                          example: 64.31
                        credit_on_meter:
                          type: number
                          example: 0.81
                        reading_date:
                          type: string
                          example: "2018-10-03"
                        created_at:
                          type: string
                          example: "2018-11-26 14:27:39"
                        updated_at:
                          type: string
                          example: "2018-11-26 14:27:39"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: serialNumber
        description: "Optional parameter."
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: ipsa
      - in: path
        name: start
        description: "Optional parameter. YYYY-mm-dd format"
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: rem
      - in: path
        name: end
        description: "Optional parameter. YYYY-mm-dd format"
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: voluptatem
  "/api/meters/{miniGrid}/geoList":
    get:
      summary: "List with geo and access rate\nA list of meters with their positions and access rate payments\nThe list is not paginated."
      operationId: listWithGeoAndAccessRateAListOfMetersWithTheirPositionsAndAccessRatePaymentsTheListIsNotPaginated
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: 1
                      serial_number: "47000124512"
                      meter_type_id: 1
                      in_use: 1
                      manufacturer_id: 1
                      created_at: "2018-06-22 11:50:09"
                      updated_at: "2018-12-17 14:20:23"
                      deleted_at: null
                      meter_parameter:
                        id: 1
                        connection_type_id: 1
                        created_at: "2018-06-22 11:59:46"
                        updated_at: "2018-12-17 14:20:23"
                        connection_group_id: 1
                        address:
                          id: 25504
                          is_primary: 0
                          email: null
                          phone: null
                          street: null
                          city_id: 1
                          geo_id: 1
                          created_at: "2020-01-09 07:05:49"
                          updated_at: "2020-01-09 07:05:49"
                          geo:
                            id: 1
                            owner_id: 1
                            owner_type: meter_parameter
                            points: "-1.8733656526963,33.03208090947"
                            created_at: "2018-06-22 08:59:46"
                            updated_at: "2019-08-09 09:47:54"
                      access_rate_payment:
                        id: 1
                        meter_id: 1
                        access_rate_id: 1
                        due_date: "2020-03-01 18:00:02"
                        debt: 589500
                        unpaid_in_row: 73
                        created_at: "2018-07-27 15:46:09"
                        updated_at: "2020-02-23 18:00:02"
                properties:
                  data:
                    type: array
                    example:
                      - id: 1
                        serial_number: "47000124512"
                        meter_type_id: 1
                        in_use: 1
                        manufacturer_id: 1
                        created_at: "2018-06-22 11:50:09"
                        updated_at: "2018-12-17 14:20:23"
                        deleted_at: null
                        meter_parameter:
                          id: 1
                          connection_type_id: 1
                          created_at: "2018-06-22 11:59:46"
                          updated_at: "2018-12-17 14:20:23"
                          connection_group_id: 1
                          address:
                            id: 25504
                            is_primary: 0
                            email: null
                            phone: null
                            street: null
                            city_id: 1
                            geo_id: 1
                            created_at: "2020-01-09 07:05:49"
                            updated_at: "2020-01-09 07:05:49"
                            geo:
                              id: 1
                              owner_id: 1
                              owner_type: meter_parameter
                              points: "-1.8733656526963,33.03208090947"
                              created_at: "2018-06-22 08:59:46"
                              updated_at: "2019-08-09 09:47:54"
                        access_rate_payment:
                          id: 1
                          meter_id: 1
                          access_rate_id: 1
                          due_date: "2020-03-01 18:00:02"
                          debt: 589500
                          unpaid_in_row: 73
                          created_at: "2018-07-27 15:46:09"
                          updated_at: "2020-02-23 18:00:02"
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        serial_number:
                          type: string
                          example: "47000124512"
                        meter_type_id:
                          type: integer
                          example: 1
                        in_use:
                          type: integer
                          example: 1
                        manufacturer_id:
                          type: integer
                          example: 1
                        created_at:
                          type: string
                          example: "2018-06-22 11:50:09"
                        updated_at:
                          type: string
                          example: "2018-12-17 14:20:23"
                        deleted_at:
                          type: string
                          example: null
                        meter_parameter:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            connection_type_id:
                              type: integer
                              example: 1
                            created_at:
                              type: string
                              example: "2018-06-22 11:59:46"
                            updated_at:
                              type: string
                              example: "2018-12-17 14:20:23"
                            connection_group_id:
                              type: integer
                              example: 1
                            address:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 25504
                                is_primary:
                                  type: integer
                                  example: 0
                                email:
                                  type: string
                                  example: null
                                phone:
                                  type: string
                                  example: null
                                street:
                                  type: string
                                  example: null
                                city_id:
                                  type: integer
                                  example: 1
                                geo_id:
                                  type: integer
                                  example: 1
                                created_at:
                                  type: string
                                  example: "2020-01-09 07:05:49"
                                updated_at:
                                  type: string
                                  example: "2020-01-09 07:05:49"
                                geo:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      example: 1
                                    owner_id:
                                      type: integer
                                      example: 1
                                    owner_type:
                                      type: string
                                      example: meter_parameter
                                    points:
                                      type: string
                                      example: "-1.8733656526963,33.03208090947"
                                    created_at:
                                      type: string
                                      example: "2018-06-22 08:59:46"
                                    updated_at:
                                      type: string
                                      example: "2019-08-09 09:47:54"
                        access_rate_payment:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            meter_id:
                              type: integer
                              example: 1
                            access_rate_id:
                              type: integer
                              example: 1
                            due_date:
                              type: string
                              example: "2020-03-01 18:00:02"
                            debt:
                              type: integer
                              example: 589500
                            unpaid_in_row:
                              type: integer
                              example: 73
                            created_at:
                              type: string
                              example: "2018-07-27 15:46:09"
                            updated_at:
                              type: string
                              example: "2020-02-23 18:00:02"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: miniGrid
        description: ""
        example: qui
        required: true
        schema:
          type: string
      - in: path
        name: mini_grid_id
        description: "Optional parameter."
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: blanditiis
  "/api/meter-types/{meterTypeId}/list":
    get:
      summary: "List with Meters\nDisplays the meter types with the associated meters."
      operationId: listWithMetersDisplaysTheMeterTypesWithTheAssociatedMeters
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    online: 0
                    phase: 1
                    max_current: 10
                    created_at: "2018-06-22 08:15:12"
                    updated_at: "2018-06-22 08:15:12"
                    meters:
                      - id: 1
                        serial_number: "1231321231"
                        meter_type_id: 1
                        in_use: 1
                        manufacturer_id: 1
                        created_at: "2018-06-22 11:50:09"
                        updated_at: "2018-12-17 14:20:23"
                        deleted_at: null
                      - id: 4
                        serial_number: "23123123132"
                        meter_type_id: 1
                        in_use: 1
                        manufacturer_id: 1
                        created_at: "2018-06-22 15:43:32"
                        updated_at: "2018-06-22 15:43:37"
                        deleted_at: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      online:
                        type: integer
                        example: 0
                      phase:
                        type: integer
                        example: 1
                      max_current:
                        type: integer
                        example: 10
                      created_at:
                        type: string
                        example: "2018-06-22 08:15:12"
                      updated_at:
                        type: string
                        example: "2018-06-22 08:15:12"
                      meters:
                        type: array
                        example:
                          - id: 1
                            serial_number: "1231321231"
                            meter_type_id: 1
                            in_use: 1
                            manufacturer_id: 1
                            created_at: "2018-06-22 11:50:09"
                            updated_at: "2018-12-17 14:20:23"
                            deleted_at: null
                          - id: 4
                            serial_number: "23123123132"
                            meter_type_id: 1
                            in_use: 1
                            manufacturer_id: 1
                            created_at: "2018-06-22 15:43:32"
                            updated_at: "2018-06-22 15:43:37"
                            deleted_at: null
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            serial_number:
                              type: string
                              example: "1231321231"
                            meter_type_id:
                              type: integer
                              example: 1
                            in_use:
                              type: integer
                              example: 1
                            manufacturer_id:
                              type: integer
                              example: 1
                            created_at:
                              type: string
                              example: "2018-06-22 11:50:09"
                            updated_at:
                              type: string
                              example: "2018-12-17 14:20:23"
                            deleted_at:
                              type: string
                              example: null
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: meterTypeId
        description: ""
        example: delectus
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: ""
        example: sed
        required: true
        schema:
          type: string
  /api/addresses:
    get:
      summary: ""
      operationId: getApiAddresses
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  "/api/addresses/{id}":
    get:
      summary: ""
      operationId: getApiAddressesId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: id
        description: "The ID of the address."
        example: voluptatem
        required: true
        schema:
          type: string
  /api/transactions:
    get:
      summary: ""
      operationId: getApiTransactions
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  "/api/transactions/{id}":
    get:
      summary: ""
      operationId: getApiTransactionsId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: id
        description: "The ID of the transaction."
        example: "2399"
        required: true
        schema:
          type: string
  /api/transaction-providers:
    get:
      summary: ""
      operationId: getApiTransactionProviders
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  "/api/transactions/analytics/{period}":
    get:
      summary: ""
      operationId: getApiTransactionsAnalyticsPeriod
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: period
        description: ""
        example: "211"
        required: true
        schema:
          type: string
  /api/transactions/advanced:
    get:
      summary: ""
      operationId: getApiTransactionsAdvanced
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  /api/app/agents/firebase:
    post:
      summary: ""
      operationId: postApiAppAgentsFirebase
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      security: []
  /api/app/agents/balance:
    get:
      summary: ""
      operationId: getApiAppAgentsBalance
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  /api/app/agents/customers:
    get:
      summary: "Display a listing of the resource."
      operationId: displayAListingOfTheResource
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  /api/app/agents/customers/search:
    get:
      summary: ""
      operationId: getApiAppAgentsCustomersSearch
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  "/api/app/agents/customers/{customerId}/graph/{period}/{limit}/{order}":
    get:
      summary: ""
      operationId: getApiAppAgentsCustomersCustomerIdGraphPeriodLimitOrder
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: customerId
        description: ""
        example: "3"
        required: true
        schema:
          type: string
      - in: path
        name: period
        description: ""
        example: distinctio
        required: true
        schema:
          type: string
      - in: path
        name: limit
        description: "Optional parameter."
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: sit
      - in: path
        name: order
        description: "Optional parameter."
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: et
  "/api/app/agents/customers/graph/{period}/{limit}/{order}":
    get:
      summary: ""
      operationId: getApiAppAgentsCustomersGraphPeriodLimitOrder
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: period
        description: ""
        example: vero
        required: true
        schema:
          type: string
      - in: path
        name: limit
        description: "Optional parameter."
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: iste
      - in: path
        name: order
        description: "Optional parameter."
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: "When the value is omitted"
            value: ""
          present:
            summary: "When the value is present"
            value: voluptate
  /api/app/agents/transactions:
    get:
      summary: ""
      operationId: getApiAppAgentsTransactions
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  "/api/app/agents/transactions/{customerId}":
    get:
      summary: ""
      operationId: getApiAppAgentsTransactionsCustomerId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: customerId
        description: ""
        example: mollitia
        required: true
        schema:
          type: string
  /api/app/agents/appliances:
    get:
      summary: ""
      operationId: getApiAppAgentsAppliances
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    post:
      summary: "Store a newly created resource in storage."
      operationId: storeANewlyCreatedResourceInStorage
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                person_id:
                  type: string
                  description: ""
                  example: alias
                  nullable: false
                down_payment:
                  type: number
                  description: ""
                  example: 111022.7
                  nullable: false
                tenure:
                  type: number
                  description: validation.min.
                  example: 46
                  nullable: false
                first_payment_date:
                  type: string
                  description: ""
                  example: suscipit
                  nullable: false
                agent_assigned_appliance_id:
                  type: string
                  description: ""
                  example: beatae
                  nullable: false
              required:
                - person_id
                - down_payment
                - tenure
                - first_payment_date
                - agent_assigned_appliance_id
      security: []
  "/api/app/agents/appliances/{customerId}":
    get:
      summary: ""
      operationId: getApiAppAgentsAppliancesCustomerId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: customerId
        description: ""
        example: excepturi
        required: true
        schema:
          type: string
  /api/app/agents/ticket:
    get:
      summary: ""
      operationId: getApiAppAgentsTicket
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    post:
      summary: ""
      operationId: postApiAppAgentsTicket
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: string
                  description: ""
                  example: inventore
                  nullable: false
                title:
                  type: string
                  description: ""
                  example: delectus
                  nullable: false
                description:
                  type: string
                  description: ""
                  example: numquam
                  nullable: false
              required:
                - owner_id
                - title
                - description
      security: []
  "/api/app/agents/ticket/{ticketId}":
    get:
      summary: ""
      operationId: getApiAppAgentsTicketTicketId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: ticketId
        description: ""
        example: et
        required: true
        schema:
          type: string
  "/api/app/agents/ticket/customer/{customerId}":
    get:
      summary: ""
      operationId: getApiAppAgentsTicketCustomerCustomerId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: customerId
        description: ""
        example: ut
        required: true
        schema:
          type: string
  /api/app/agents/dashboard/boxes:
    get:
      summary: ""
      operationId: getApiAppAgentsDashboardBoxes
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  /api/app/agents/dashboard/graph:
    get:
      summary: ""
      operationId: getApiAppAgentsDashboardGraph
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  /api/app/agents/dashboard/revenue:
    get:
      summary: ""
      operationId: getApiAppAgentsDashboardRevenue
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  /api/agents:
    get:
      summary: ""
      operationId: getApiAgents
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    post:
      summary: ""
      operationId: postApiAgents
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ""
                  example: animi
                  nullable: false
                name:
                  type: string
                  description: validation.min.
                  example: ouyhiwjistvrkhmftedztnfyflfubqmwgnzvlrzgdguedrwmkmqcvzjgvnseqll
                  nullable: false
                surname:
                  type: string
                  description: validation.min.
                  example: kfgrqwxyqtsgawmwlngnprfstdbaydurihftgatktorggckrj
                  nullable: false
                password:
                  type: string
                  description: validation.min.
                  example: "}i*.WpO/.{y&G"
                  nullable: false
                city_id:
                  type: string
                  description: ""
                  example: quia
                  nullable: false
                agent_commission_id:
                  type: string
                  description: ""
                  example: molestias
                  nullable: false
              required:
                - email
                - name
                - surname
                - password
                - city_id
                - agent_commission_id
      security: []
  "/api/agents/{agentId}":
    get:
      summary: ""
      operationId: getApiAgentsAgentId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    put:
      summary: ""
      operationId: putApiAgentsAgentId
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      security: []
    delete:
      summary: ""
      operationId: deleteApiAgentsAgentId
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: agentId
        description: ""
        example: 1
        required: true
        schema:
          type: integer
  /api/agents/search:
    get:
      summary: ""
      operationId: getApiAgentsSearch
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  /api/agents/reset-password:
    post:
      summary: ""
      operationId: postApiAgentsResetPassword
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      security: []
  /api/agents/assigned:
    post:
      summary: "Store a newly created resource in storage."
      operationId: storeANewlyCreatedResourceInStorage
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_id:
                  type: integer
                  description: ""
                  example: 5
                  nullable: false
                user_id:
                  type: integer
                  description: ""
                  example: 5
                  nullable: false
                appliance_id:
                  type: string
                  description: ""
                  example: rerum
                  nullable: false
                cost:
                  type: integer
                  description: ""
                  example: 13
                  nullable: false
                appliance_type_id:
                  type: integer
                  description: ""
                  example: 1
                  nullable: false
              required:
                - agent_id
                - user_id
                - appliance_id
                - cost
                - appliance_type_id
      security: []
  "/api/agents/assigned/{agentId}":
    get:
      summary: "List for Web interface."
      operationId: listForWebInterface
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: agentId
        description: ""
        example: non
        required: true
        schema:
          type: string
  "/api/agents/sold/{agentId}":
    get:
      summary: ""
      operationId: getApiAgentsSoldAgentId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: agentId
        description: ""
        example: tempore
        required: true
        schema:
          type: string
  /api/agents/commissions:
    get:
      summary: "Display a listing of the resource."
      operationId: displayAListingOfTheResource
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    post:
      summary: "Store a newly created resource in storage."
      operationId: storeANewlyCreatedResourceInStorage
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ""
                  example: eaque
                  nullable: false
                energy_commission:
                  type: number
                  description: ""
                  example: 75.6
                  nullable: false
                appliance_commission:
                  type: number
                  description: ""
                  example: 210204149.747
                  nullable: false
                risk_balance:
                  type: number
                  description: validation.max.
                  example: 450.4
                  nullable: false
              required:
                - name
                - energy_commission
                - appliance_commission
                - risk_balance
      security: []
  "/api/agents/commissions/{agentCommissionId}":
    delete:
      summary: "Remove the specified resource from storage."
      operationId: removeTheSpecifiedResourceFromStorage
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      security: []
    put:
      summary: "Update the specified resource in storage."
      operationId: updateTheSpecifiedResourceInStorage
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ""
                  example: rerum
                  nullable: false
                energy_commission:
                  type: number
                  description: ""
                  example: 215692.57895
                  nullable: false
                appliance_commission:
                  type: number
                  description: ""
                  example: 2403792.0
                  nullable: false
                risk_balance:
                  type: number
                  description: validation.max.
                  example: 1206121.36
                  nullable: false
              required:
                - name
                - energy_commission
                - appliance_commission
                - risk_balance
      security: []
    parameters:
      - in: path
        name: agentCommissionId
        description: ""
        example: quidem
        required: true
        schema:
          type: string
  /api/agents/receipt:
    get:
      summary: "Display a listing of the resource."
      operationId: displayAListingOfTheResource
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    post:
      summary: "Store a newly created resource in storage."
      operationId: storeANewlyCreatedResourceInStorage
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_id:
                  type: string
                  description: ""
                  example: aut
                  nullable: false
                amount:
                  type: string
                  description: ""
                  example: sequi
                  nullable: false
              required:
                - agent_id
                - amount
      security: []
  "/api/agents/receipt/{agentId}":
    get:
      summary: "Display a listing of the resource."
      operationId: displayAListingOfTheResource
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: agentId
        description: ""
        example: maxime
        required: true
        schema:
          type: string
  "/api/agents/transactions/{agentId}":
    get:
      summary: ""
      operationId: getApiAgentsTransactionsAgentId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: agentId
        description: ""
        example: "508"
        required: true
        schema:
          type: string
  "/api/agents/balance/history/{agentId}":
    get:
      summary: ""
      operationId: getApiAgentsBalanceHistoryAgentId
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
    parameters:
      - in: path
        name: agentId
        description: ""
        example: 14
        required: true
        schema:
          type: integer
  /api/agents/charge:
    post:
      summary: ""
      operationId: postApiAgentsCharge
      description: ""
      parameters: []
      responses: {}
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_id:
                  type: string
                  description: ""
                  example: pariatur
                  nullable: false
                amount:
                  type: number
                  description: ""
                  example: 403.4672
                  nullable: false
              required:
                - agent_id
                - amount
      security: []
  /api/customer-registration-app/manufacturers:
    get:
      summary: "Display a listing of the resource."
      operationId: displayAListingOfTheResource
      description: ""
      parameters: []
      responses:
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Server Error"
                properties:
                  message:
                    type: string
                    example: "Server Error"
      tags:
        - Endpoints
      security: []
  /api/customer-registration-app/tariffs:
    get:
      summary: "List\na list of all tariffs."
      operationId: listaListOfAllTariffs
      description: "The list is paginated and each page contains 15 results."
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    - id: 1
                      name: "Productive Usage"
                      price: 350
                      currency: EUR
                      factor: 1
                      created_at: "2018-07-27 15:32:42"
                      updated_at: "2018-07-27 15:32:42"
                      deleted_at: null
                      access_rate:
                        id: 1
                        tariff_id: 1
                        amount: 10000
                        period: 7
                        created_at: "2018-07-27 15:32:42"
                        updated_at: "2018-07-27 15:32:42"
                    - id: 2
                      name: "House Hold"
                      price: 450
                      currency: EUR
                      factor: 1
                      created_at: "2018-07-27 15:32:59"
                      updated_at: "2018-07-27 15:32:59"
                      deleted_at: null
                      access_rate:
                        id: 2
                        tariff_id: 2
                        amount: 0
                        period: 7
                        created_at: "2018-07-27 15:32:59"
                        updated_at: "2018-07-27 15:32:59"
                    - id: 3
                      name: "Comercial Usage"
                      price: 550
                      currency: EUR
                      factor: 1
                      created_at: "2018-07-27 15:33:09"
                      updated_at: "2018-07-27 15:33:09"
                      deleted_at: null
                      access_rate:
                        id: 3
[...]
