apiVersion: v1
kind: Secret
metadata:
  name: mpm-secrets
  namespace: micropowermanager
type: Opaque
stringData:
  APP_KEY: app-key
  JWT_SECRET: jwt-secret
  MPM_BACKEND_URL: BACKEND_URL
  DB_HOST: mysql-host
  DB_USERNAME: user-name
  DB_PASSWORD: db-password
