apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: maria-db-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: maria-db
spec:
  selector:
    matchLabels:
      app: maria-db
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: maria-db
    spec:
      containers:
        - name: mariadb
          image: mariadb:10.3
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom: 
                secretKeyRef:
                  name: mpm-secrets
                  key: DB_PASSWORD
            - name: MYSQL_DATABASE
              value: micro_power_manager
          ports:
            - name: mariadb
              containerPort: 3306
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: maria-db-data
      
---
apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  ports:
    - name: mariadb
      port: 3306
      targetPort: mariadb
  selector:
    app: maria-db