{
  "branches": ["ft/versioning"],
  "repositoryUrl": "https://github.com/EnAccess/micropowermanager",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "tagFormat": "v${version}"
}
