apiVersion: v1
kind: Service
metadata:
  name: mpm-frontend-service
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 8081
    protocol: TCP
  selector:
    app: mpm-frontend